<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shopprdriver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:name=".SendBird.BaseApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopprDriver"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".Activity.PersonalInfoActivity"
            android:screenOrientation="portrait"
            android:label="Personal Info"/>
        <activity
            android:name=".Activity.WorkDetailsViewActivity"
            android:label="Work Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.BankDetailsActivity"
            android:label="Bank Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ViewDocumentActivity"
            android:label="Document"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AccountInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ChatTheme" />
        <activity
            android:name=".Activity.WorkLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PersionalDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TravelingDetailsActivity"
            android:label="Traveling Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ReviewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AttendenceActivity"
            android:label="Attendance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ChatHistoryActivity"
            android:label="Chat History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CommissionTransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.WalletTransactionActivity"
            android:label="Wallet Transaction"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Page2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Page1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:label="Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.OrderDetailsActivity"
            android:label="Order Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MyOrderActivity"
            android:label="Past Order"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ChatTheme" />
        <activity
            android:name=".MainActivity"
            android:label="Open Order"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.OtpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ChatTheme" />
        <activity
            android:name=".Activity.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ChatTheme">
            <intent-filter>
                <action android:name="chat_screen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.NotificationListActivity"
            android:label="Notification"
            android:screenOrientation="portrait" />
        <service android:name=".notifications.FirebaseMessageReceiver"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".background_service.UpdateLocationService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".SendBird.call.VideoCallActivity"
            android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/CallTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SendBird.call.VoiceCallActivity"
            android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/CallTheme"
            tools:ignore="LockedOrientationActivity" />

        <service
            android:name=".SendBird.call.CallService"
            android:stopWithTask="false" />
        <service
            android:name=".SendBird.fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>